<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/jfc_mvc_db" />
                <property name="username" value="root" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>

    <!-- Mapper configurations -->
    <mappers>
        <!-- Jika menggunakan file XML untuk mapping -->
        <mapper resource="model/UserMapper.xml" />
        <!-- Jika menggunakan anotasi pada UserMapper, Anda bisa menggunakan -->
        <!-- <mapper class="model.UserMapper"/> -->
    </mappers>
</configuration>
